# find attributes etc.:
# udevadm info -a /dev/input/by-id/usb-FANATEC_ClubSportPedal-event-if00
# udevadm info -a /dev/input/by-id/usb-Fanatec_FANATEC_Wheel-event-joystick
#
# install rules:
# sudo cp fanatec.rules /etc/udev/rules.d/99-fanatec.rules
# sudo udevadm control --reload
#
# check calibration:
# evdev-joystick -s /dev/input/by-id/usb-FANATEC_ClubSportPedal-event-if00
# evdev-joystick -s /dev/input/by-id/usb-Fanatec_FANATEC_Wheel-event-joystick
#
# https://www.man7.org/linux/man-pages/man7/udev.7.html

ACTION!="add|change", GOTO="fanatec_end"

KERNEL=="event*", SUBSYSTEM=="input", ATTRS{id/product}=="183b", ATTRS{id/vendor}=="0eb7", ATTRS{name}=="FANATEC ClubSportPedal", GOTO="fanatec_pedal_calib"
KERNEL=="event*", SUBSYSTEM=="input", ATTRS{id/product}=="0020", ATTRS{id/vendor}=="0eb7", ATTRS{name}=="Fanatec FANATEC Wheel", GOTO="fanatec_wheel_calib"
SUBSYSTEM=="leds", SUBSYSTEMS=="hid", DRIVERS=="fanatec", GOTO="fanatec_wheel_led"
SUBSYSTEM=="hid", DRIVER=="fanatec", GOTO="fanatec_module_settings"
GOTO="fanatec_end"

LABEL="fanatec_pedal_calib"
RUN+="/usr/bin/evdev-joystick --evdev $devnode --deadzone 0 --fuzz 0"
RUN+="/usr/bin/evdev-joystick --evdev $devnode --axis 1 --maximum 1000"
GOTO="fanatec_end"

LABEL="fanatec_wheel_calib"
RUN+="/usr/bin/evdev-joystick --evdev $devnode --deadzone 0 --fuzz 0"
GOTO="fanatec_end"

LABEL="fanatec_wheel_led"
ATTR{brightness}="1"
GOTO="fanatec_end"

LABEL="fanatec_module_settings"
RUN+="/bin/sh -c \"echo 0 | tee %S%p/leds/*/brightness\""
GOTO="fanatec_end"

LABEL="fanatec_end"
